@import "./validation.css";

/* small screen */
@media only screen and (max-width: 600px) {
  body .wrapper {
    width: 330px;
  }
  body .action::before {
    right: 70px;
  }
  body .action::after {
    right: 70px;
  }

  body .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  body .logo {
    display: none;
  }

  body .navbar-nav {
    flex-direction: row;
  }

  body .nav-link {
    justify-content: center;
  }
  body main {
    margin: 0;
  }
  body .navbar:hover .link-text {
    display: none;
  }
}

/* large screen */
@media only screen and (min-width: 600px) {
  body .navbar {
    width: 5rem;
    height: 100%;
  }

  body .navbar:hover {
    width: 16rem;
  }

  body .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--speed);
  }
}

:root {
  font-size: 16px;
  font-family: "Open sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --speed: 500ms;
}

body {
  color: black;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background-color: #6649b8;
}

main {
  margin-left: 5rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 100ms ease;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: filter var(--speed) ease;
}

/* icon color filtering on hover*/
.nav-link:hover {
  filter: grayscale(0) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #ff7eee;
}

.fa-primary,
.fa-secondary {
  transition: all var(--speed) ease;
}
/* icon color filtering on hover*/

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}
.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0);
  transition: transform var(--speed) ease;
  color: red;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

h1 {
  margin: 0;
}

main {
  height: 100%;
}

.hide {
  display: none;
}

/* sign in form  */
.sign-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary);
}

.form-edge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid var(--validator);
  border-radius: 1rem;
  width: 50%;
  height: auto;
  padding: 5rem;
  background-color: #fff;
}
.form-edge > h1 {
  padding-bottom: 3rem;
  color: dodgerblue;
}

.hide {
  display: none;
}
